
.answers {
	font-size: 14pt;
	padding:20pt 0 0 20pt;
}

.clear {
	clear: both;
}

footer {
	background-color: #ddd7d7;
	border-style: solid;
	border-color: #bebebe;
	border-top-width: 1pt;
	text-align: center;
	padding: 10pt;
	margin-top: 20pt;
}